/* --------------------------------------------------------
Style Sheet for Website's Name : MoGo One Page Responsive Template
version: 1.0
last modified: 
email: aminuldev1@gmail.com
website: 
author: Aminul Islam
author URL: aminuldev.com
----------------------------------------------------------*/

/*===================CSS reset code====================*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*=========================end css reset===================*/
/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Kaushan Script', cursive;*/

body{
    color: #999;
    font-size: 13px;
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    font-family: 'Roboto', sans-serif;
}
html body{
    line-height: 1.7;
    margin: 0;
    padding: 0;
}

/*========================header section style=================*/

#mogo-header{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background: url("../img/header-bg.jpg")no-repeat center center / cover;
}
#mogo-header:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(243,129,129,0.9); /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(top, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
    background: -o-linear-gradient(top, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
    background: linear-gradient(to bottom, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#mogo-header-inner{
    position: relative;
    z-index: 5;
}
/*=======================main navbar section===========================*/
#top-navbar{
    background: none;
    border: none;
    border-radius: 0;
}
#top-navbar .navbar-brand {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}
#top-navbar .navbar-nav > li > a{
    color: #fff;
    text-align: center;
}

#top-navbar .navbar-nav > li > a:hover, #top-navbar .navbar-nav > .active > a, #top-navbar .navbar-nav > .active > a:hover {
    color: #fce38a;
    border-color: #fce38a;
    background: none;
}

#top-navbar .main-nav > li > a {
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    padding: 15px 5px 5px;
    margin: 0 12px;
    color: #fff;
    text-align: center;
}
#top-navbar .navbar-collapse{
    border-top-width: 0;
    padding-top: 10px;
    margin-top: 5px;
}

.fixed-me{
    transition: all .5s ;
}

.fixed-me{
    background-color:rgba(241, 114, 114, 0.96) !important;
    padding: 0 !important;
    margin-bottom: 5px;
    position: fixed;
    top:0;
    z-index:888;
    width: 100%;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.site-logo{
    padding: 15px 16px;
    margin: 15px 0;
}
.navbar-me{
    min-height: 70px;
    background-color: transparent;
    top: 0;
    border: 0;
    border-radius: 0;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.menu-collapsed-button{
    margin: 20px 15px 10px 15px !important;
}


/*======================main slider section style===================*/


#mogo-slider {
    padding: 40px 0 0;
}
#mogo-slider .carousel-inner {
    height: auto;
}
#mogo-slider .carousel-inner > .item {
    text-align: center;
    color: #fff;
}
#mogo-slider .carousel-indicators {
    width: 100%;
    left: 0;
    position: static;
    margin: 0;
    margin-top: 80px;
}
#mogo-slider .carousel-indicators li,
#mogo-slider .carousel-indicators li.active {
    float: left;
    width: 25%;
    height: auto;
    margin: 0;
    text-indent: initial;
    border-radius: 0;
    background: none;
    text-align: left;
    border: none;
}
#mogo-slider .carousel-indicators li .inner {
    border-top: 2px solid #f7eac4;
    position: relative;
    color: #faf3e0;
    text-transform: uppercase;
    margin: 0 12px;
    padding: 10px 0;
}
#mogo-slider .carousel-indicators li:hover .inner,
#mogo-slider .carousel-indicators li.active .inner {
    border-color: #fff;
    color: #fff;
}
#mogo-slider .carousel-indicators li:hover .inner:after,
#mogo-slider .carousel-indicators li.active .inner:after {
    content: "";
    position: absolute;
    left: 0;
    top: -2px;
    width: 60px;
    height: 2px;
    background: #f38181;
}
#mogo-slider .carousel-indicators li .number {
    font-weight: 700;
    font-size: 18px;
    margin-right: 3px;
}

/*==============slider content===================*/

#mogo-slider .mogo-slider-title{
    font-size: 110px;
    color: #fff;
}
#mogo-slider .mogo-slider-title .mogo-slider-sub {
    font-size: 55px;
}
.mogo-slider-title .mogo-slider-sub {
    display: block;
    text-transform: none;
    font-weight: 400;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    margin-bottom: 5px;
}
.mogo-slider-title{
    font-weight: 700;
    font-size: 25px;
    line-height: 1;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
    text-transform: uppercase;
}
.mogo-slider-sub {
    font-weight: 700;
    font-size: 25px;
    line-height: 1;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
}
.mogo-slider-title .mogo-slider-sub:after{
    background: #fff;
}
.mogo-slider-title:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 50px;
    height: 2px;
    background: #fff;
    transform: translateX(-50%);
}

.slider-btn{
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    text-align: center;
    border: 2px solid #fff;
    font-size: 12px;
    line-height: 100%;
}



/*==========================middle section====================*/

.middle-section h2{
    font-weight: 700;
    font-size: 25px;
    line-height: 1;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
    text-transform: uppercase;
}

.middle-section h2 .middle-sub {
    display: block;
    text-transform: none;
    font-weight: 400;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    margin-bottom: 20px;
}

.middle-section p {
    text-align: center;
    max-width: 750px;
    margin: 0 auto 40px;
    font-size: 13px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;

}
h2 .middle-sub:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 50px;
    height: 2px;
    background: #f38181;
    transform: translateX(-50%);
}

section{
    padding: 95px 0;
}

/* ===============About Us with Hover Effect style=============== */
.story-hover {
    text-align: center;
}

.story-hover .story {
    background: #95e1d3;
    display: inline-block;
}
.story-hover .story .overlay {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.story-hover .story .overlay:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: rgba(243,129,129,0.9); /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(top, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
    background: -o-linear-gradient(top, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
    background: linear-gradient(to bottom, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.story-hover .story:hover .overlay {
    left: -10px;
    top: -10px;
}
.story-hover .story:hover .overlay:before {
    opacity: 1;
}
.story-hover .story-content {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    z-index: 1;
    opacity: 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.story-hover .story:hover .story-content {
    opacity: 1;
    font-size: 18px;
    font-weight: 500;
}


/*=========================counting section style=====================*/

#counting{
    padding: 0;
    background: #95e1d3;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}
.counter{
    float: left;
    display: inline-block;
}
.counter .number{
    font-size: 50px;
    font-weight: 600;
}
#counting .counter:first-child {
    border-left: 1px solid rgba(255, 255, 255, 0.35);
}
#counting .counter {
    width: 20%;
    padding: 60px 5px;
    border-right: 1px solid rgba(255, 255, 255, 0.35);
}
/*========================services section style=====================*/

.services-content{
 font-family: 'Roboto', sans-serif;
}
.services-content .media .media-left{
    font-size: 30px;
    color: #95e1d3;
}
.services-content .media{
    margin: 17px 0;
    padding: 10px 0;
}

.services-content .media-body h4{
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    padding: 5px 0;
}




/*======================unique design===================*/


#unique-design{
    padding-bottom: 0;
    margin-bottom: 25px;
    background:#e0e0e0 url("../img/unique-design-bg.jpg")no-repeat center center / cover;
}
#unique-design .unique-content{
    position: relative;
    text-align: center;
}

#unique-design .unique-content .tablet{
    position: relative;
    left:33%;
    width: 370px;
}
#unique-design .unique-content .mobile{
    position: absolute;
    bottom: -60px;
    left: 45%;
    margin-left: 140px;
    width: 170px;
}


/*================What We Do======================*/

#what-we-do .what-do-content .panel-title{
    text-transform: uppercase;
}
#what-we-do .what-do-content .panel-title a{
    text-decoration: none;
    display: block;
}
.panel-title i{
    padding: 0 5px;
    color:#95e1d3;
}
#what-we-do a:focus, a.slider-btn:hover{
    background-color: transparent;
    color: #5a5a5a;
    text-decoration: none;
}
#what-we-do .what-do-content .panel-body{
    font-style: italic;
    font-weight: 100;
    overflow: hidden;
    height: 130px;
    text-align: justify;
}
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background-color: #95e1d3;
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
    background-color: #95e1d3;
}

/*======================testimonial top section style========================*/

#testimonial-top{
    background-color: #f8f8f8;
    padding: 0;
    margin: 15px 0;
}
/* carousel */
#quote-carousel-top{
    padding: 0 10px 30px 10px;

}

/* Control buttons  */
#quote-carousel-top .carousel-control
{
    background: none;
    color: #cccccc;
    text-shadow: none;
    margin-top: 50px;
}
/* Previous button  */
#quote-carousel-top .carousel-control.left
{
    left: -110px;
}
/* Next button  */
#quote-carousel-top .carousel-control.right
{
    right: -110px !important;
}
/* Changes the position of the indicators */
#quote-carousel-top .carousel-indicators
{
    right: 50%;
    top: auto;
    bottom: 0;
    margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel-top .carousel-indicators li
{
    background: #c0c0c0;
}
#quote-carousel-top .carousel-indicators .active
{
    background: #333333;
}
#quote-carousel-top img
{
    width: 250px;
    height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}
blockquote p.blockquote-text{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 200;
}
blockquote span.client{
    font-size: 28px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 300;
    color: #333333;
    margin-left: 60px;
}
blockquote span:before{
    content: "";
    position: absolute;
    left: 2%;
    top: 85px;
    width: 50px;
    height: 2px;
    background: #f38181;
    transform: translateY(-50%);

}
.item blockquote img {
    margin-bottom: 10px;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #quote-carousel-top
    {
        margin: 30px 0;
        padding: 15px 30px
    }

}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */

    #quote-carousel-top .carousel-indicators {
        bottom: -20px !important;
    }
    #quote-carousel-top .carousel-indicators li {
        display: inline-block;
        margin: 0 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel-top .carousel-indicators li.active {
        margin: 0 5px;
        width: 20px;
        height: 20px;
    }
}
/*==================team section style==================*/

.team-hover {
    text-align: center;
}
.team-hover .team {
    background: #95e1d3;
    display: inline-block;
}
.team-hover .team .overlay {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.team-hover .team .overlay:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: rgba(243,129,129,0.9); /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(top, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
    background: -o-linear-gradient(top, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
    background: linear-gradient(to bottom, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.team-hover .team:hover .overlay {
    left: -10px;
    top: -10px;
}
.team-hover .team:hover .overlay:before {
    opacity: 1;
}
.team-hover .hover-content {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    z-index: 1;
    opacity: 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.team-hover .team:hover .hover-content {
    opacity: 1;
    font-size: 18px;
    font-weight: 500;
}


.team-hover .hover-content .hover-icon{
    display: inline-block;
    font-size: 25px;
    color: #f38181;
    background: #fce38a;
    padding: 10px;
    margin: 0 -1px;
    line-height: 100%;
}
.team-hover .hover-content .hover-icon:hover{
    background: #f38181;
    color: #000000;
}

/*====================brand section style==================*/
#brand{
    padding: 50px 0;
    background: #f8f8f8;
    text-align: center;
}

#brand a:hover {
    transition: all .3s ease-in-out;
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}

#brand a {
    display: block;
}

/*============================portfolio section=========================*/



.single_portfolio_text{
    display:inline-block;
    padding:0;
    position:relative;
    overflow:hidden;
    margin-top: -11px;

}
.single_portfolio_text img{
    width:100%;
}

.single_portfolio_text:hover .portfolio_images_overlay{
    top:0;
    left: 0;
    padding-top: 25%;
    background: rgba(243,129,129,0.9); /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(top, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
    background: -o-linear-gradient(top, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
    background: linear-gradient(to bottom, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
}

.portfolio_images_overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    margin: 0 auto;
    top:-100%;
    left: 0;
    position: absolute;
    transition:.6s;
    cursor: pointer;
}
.portfolio_images_overlay i{
    color:#fff;
    font-size:2rem;
    font-weight: 500;

}
.portfolio_images_overlay h4{
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fff;
    margin-top: 15px;
}

.portfolio_images_overlay span.sub-text{
    font-size: 15px;
    color: #fff;
    line-height: 1.9;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
.portfolio_images_overlay .btn{
    margin-top: 25px;
}

@media (min-width:769px) and (max-width:991px) {
    .portfolio_images_overlay {
        padding: 0
    }
}
@media (max-width:768px) {
    .portfolio_images_overlay{
        padding: 170px 20px;
    }
}
@media (max-width:580px) {
    .portfolio_images_overlay{
        padding: 100px 20px;
    }
}
@media (max-width:480px) {
    .portfolio_images_overlay{
        padding: 40px 20px;
    }
}
@media (max-width:320px) {
    .portfolio_images_overlay{
        padding: 20px;
    }
}



/*==============================Happy Client Section======================*/
#happy-client{
    background: url("../img/happy-client-bg.jpg")no-repeat center center / cover;
    font-family: 'Roboto', sans-serif
}

#happy-client .happy-content .happy-wrap{
padding: 15px 40px;
}

.happy-wrap .img-left img{
    width: 90px;
}
.happy-wrap .client-info {
    padding: 10px 10px;
}
.happy-wrap .client-info h4{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
}

.happy-wrap .client-info span{
    font-style: italic;
    position: relative;
    padding-bottom: 12px;
    display: inline-block;
    margin-bottom: 12px;
}
.happy-wrap .client-info span:after{
    content: "";
    position: absolute;
    left: 0;
    top: 31px;
    width: 50px;
    height: 2px;
    background: #f38181;
    transform: translateY(-40%);
}

.happy-wrap .client-info p{
    margin-bottom: 10px;

}




/*========================blog section style=================*/

.blog-content article .article-image{
    position: relative;
    margin-bottom: 20px;
}
.article-image .date{
    position: absolute;
    background: #95e1d3;
    left: -5px;
    bottom: 16px;
    padding: 0 10px;
    color: #fff;
    text-align: center;
}
.blog-content article h3 a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

.article-image .number{
    font-size: 25px;
    font-weight: 600;
}

.blog-content article .articleMeta{
    border-top: 1px solid #e5e5e5;
    margin-top: 15px;
    padding-top: 15px;
}
.blog-content article .articleMeta a{
    color: #999;
    display: inline-block;
    margin-right: 15px;
    font-style: italic;
    font-weight: 300;
}
.blog-content article .articleMeta a:hover{
    text-decoration: none;
    color: #0b00ff;
}
.articleMeta a i{
    font-size: 20px;
    color: #95e1d3;
}

/*======================map style================*/

#map{
    background: url("../img/bg-map.jpg")no-repeat center center / cover;
    padding: 40px 0;
    position: relative;
}
#map .map-headline{
    text-align: center;
    color: #f38181;
}
#map .map-headline .text{
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.map-headline:after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 28px;
    width: 50px;
    height: 2px;
    background: #f38181;
    transform: translateX(-50%);
}
#map .map-headline i{
    display: block;
    margin-bottom: 10px;
    font-size: 40px;
}

/*======================footer section style=================*/

footer{
    padding-top: 50px;
    background: #f8f8f8;
}
#footer .container .row{
    padding: 35px 0;
}
.blog-wrap .footer-logo a{
    font-size: 25px;
    font-weight: bold;
    color: #cccccc;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.blog-wrap p.footer-text{
    font-family: 'Roboto', sans-serif;
    color: #999999;
    margin-top: 12px;
}

.footer-followUs{

}
.footer-followUs .totalFollow{
    color: #333;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.footer-followUs .totalFollow span{
    font-size: 25px;
}
.footer-followUs .socialNetwork .footer-icon{
    display: inline-block;
    margin: 0 8px;
    font-size: 18px;
    color: #95e1d3;
}
.socialNetwork span.text{
    font-style: italic;
    font-weight: 300;
    display: inline-block;
    margin-right: 10px;
}
footer .footer-followUs{
    margin: 25px 0;
}

footer .nino-subscribeForm .input-group .btn{
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background: #95e1d3;
    border: none;
}



.blog-wrap .media-body h4.media-heading a{
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}
.blog-wrap .media-body span{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: 100;
}
.blog-wrap h3{
    margin-bottom: 30px;
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
}

footer .instagram-images a{
    float: left;
    width: 88px;
    margin: 1px;
    margin-bottom: -6px;
}

footer a img{
    border: none;
}
a.morePhoto{
    font-style: italic;
    font-weight: 100;
    font-size: 13px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.footer-copyright{
    border-top: 1px solid #e5e5e5;
    padding: 15px 0;
}





/*===========================PAGE.HTML STYLE================*/

#blog{

}

.blog-breadcrumb .breadcrumb{
    border-radius: none;
    padding: 15px 15px;
    font-family: 'Roboto', sans-serif
}
.blog-content-wrap .blog-left .blog-article-title h2{
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    font-size: 23px;
    margin: 23px 0;
}

.blog-left .blog-article-content p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.9;
    font-weight: 300;
    text-align: justify;
    color: #838383;
}
.blog-left .blog-article-content a{
    color: rgba(241, 114, 114, 0.96);
}
.blog-left .middle-offer .well{
    border-left: 4px solid rgba(241, 114, 114, 0.96);
    margin-left: 13%;
    margin-top: 20px;
}

.middle-offer .well p{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}
.middle-offer .well p span a{
    font-size: 18px;
    font-weight: bold;
}

.author-by{
    margin: 40px 0;
}
.author-by p{
    font-size: 16px;
    font-weight: 400;
    padding: 5px 0;
}
.author-by hr{
    margin-top: 3px;
    margin-bottom: 3px;
    border: 0;
    border-top: 1px solid #fce38a;
}


.share-article .well{
    border-radius: 0;
    border: none;
    box-shadow: none;
}
.share-article span{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.share-article .share-social-icon{
    display: inline-block;
    font-size: 18px;

}
.share-article .share-social-icon a{
    padding: 0 15px;
    color: #95e1d3;
}


/*about author*/



.about-author, .related-posts, .post-comment, .comment-form{
    padding: 30px 0;
}

.about-author h3, .related-posts h3, .post-comment h3, .comment-form h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    color: #343333;
    font-weight: 300;
}
.border-line{
    width: 100%;
}
.about-author .media .media-body{
    padding: 0 15px;
}

.about-author .media .media-body h4{
    font-size: 16px;
    font-weight: bolder;
}
.about-author .media .media-body p{
    font-size: 14px;
    line-height: 1.9;
    font-weight: 300;
    text-align: justify;
    color: #838383;
}

/*====related post slide section===========*/

.related-slide{
    margin-top: 30px;
}

.carousel-inner .item .media{
    margin-top: 20px;
}


#post-carousel .carousel-control.right, #post-carousel .carousel-control.left{
    background-image: none;
    top: 0%;
    color: #F17777;
}
#post-carousel .carousel-control{
    font-size: 50px;
}

#post-carousel .carousel-control.right{
    right: -66px;
}

#post-carousel .carousel-control.left{
    left: -66px;;
}


.carousel-inner .item .media-body h4{
    font-size: 16px;
}
.carousel-inner .item .media-body span a{
    font-style: italic;
}







/*==========================blog comment form =================*/
.contact-form{
    margin-top:15px;
}
.contact-form .textarea{
    min-height:200px;
    resize:none;
}
.comment-form .form-control{
    box-shadow:none;
    border-color:#d2d2d2;
    height:49px;
}
.comment-form .form-control:focus{
    box-shadow:none;
    border-color:#F17777;
}
.form-control-feedback{
    line-height:50px;
}
.main-btn{
    background:#F17777;
    border-color:#F17777;
    color:#fff;
}
.main-btn:hover{
    background:#E99383;
    color:#fff;
}
.form-control-feedback {
    line-height: 50px;
    top: 0;
}


/*blog post comment section*/

.post-comment ul.media-list li.media{
    margin-top: 20px;
}

.post-comment ul.media-list li.media .media-body p{
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 200;
}