/* --------------------------------------------------------
Style Sheet for Website's Name : MoGo One Page Responsive Template
version: 1.0
last modified: 
email: aminuldev1@gmail.com
website: 
author: Aminul Islam
author URL: aminuldev.com
----------------------------------------------------------*/

/*===================CSS reset code====================*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*=========================end css reset===================*/
/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Kaushan Script', cursive;*/

body{
    color: #999;
    font-size: 13px;
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    font-family: 'Roboto', sans-serif;
}
html body{
    line-height: 1.7;
    margin: 0;
    padding: 0;
}

/*========================header section style=================*/

#mogo-header{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background: url("../img/header-bg.jpg")no-repeat center center / cover;
}
#mogo-header:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(243,129,129,0.9); /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(top, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
    background: -o-linear-gradient(top, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
    background: linear-gradient(to bottom, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#mogo-header-inner{
    position: relative;
    z-index: 5;
}
/*=======================main navbar section===========================*/
#top-navbar{
    background: none;
    border: none;
    border-radius: 0;
}
#top-navbar .navbar-brand {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}
#top-navbar .navbar-nav > li > a{
    color: #fff;
    text-align: center;
}

#top-navbar .navbar-nav > li > a:hover, #top-navbar .navbar-nav > .active > a, #top-navbar .navbar-nav > .active > a:hover {
    color: #fce38a;
    border-color: #fce38a;
    background: none;
}

#top-navbar .main-nav > li > a {
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    padding: 15px 5px 5px;
    margin: 0 12px;
    color: #fff;
    text-align: center;
}
#top-navbar .navbar-collapse{
    border-top-width: 0px;
    padding-top: 10px;
    margin-top: 5px;
}

.fixed-me{
    transition: all .5s ;
}

.fixed-me{
    background-color:rgba(241, 114, 114, 0.96) !important;
    padding: 0px  !important;
    margin-bottom: 5px;
    position: fixed;
    top:0;
    z-index:888;
    width: 100%;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.site-logo{
    padding: 15px 16px;
    margin: 15px 0;
}
.navbar-me{
    min-height: 70px;
    background-color: transparent;
    top: 0px;
    border: 0px;
    border-radius: 0px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.menu-collapsed-button{
    margin: 20px 15px 10px 15px !important;
}


/*======================main slider section style===================*/


#mogo-slider {
    padding: 40px 0 0;
}
#mogo-slider .carousel-inner {
    height: auto;
}
#mogo-slider .carousel-inner > .item {
    text-align: center;
    color: #fff;
}
#mogo-slider .carousel-indicators {
    width: 100%;
    left: 0;
    margin: 0;
    position: static;
    margin-top: 80px;
}
#mogo-slider .carousel-indicators li,
#mogo-slider .carousel-indicators li.active {
    float: left;
    width: 25%;
    height: auto;
    margin: 0;
    text-indent: initial;
    border-radius: 0;
    background: none;
    text-align: left;
    border: none;
}
#mogo-slider .carousel-indicators li .inner {
    border-top: 2px solid #f7eac4;
    position: relative;
    color: #faf3e0;
    text-transform: uppercase;
    margin: 0 12px;
    padding: 10px 0;
}
#mogo-slider .carousel-indicators li:hover .inner,
#mogo-slider .carousel-indicators li.active .inner {
    border-color: #fff;
    color: #fff;
}
#mogo-slider .carousel-indicators li:hover .inner:after,
#mogo-slider .carousel-indicators li.active .inner:after {
    content: "";
    position: absolute;
    left: 0;
    top: -2px;
    width: 60px;
    height: 2px;
    background: #f38181;
}
#mogo-slider .carousel-indicators li .number {
    font-weight: 700;
    font-size: 18px;
    margin-right: 3px;
}

/*==============slider content===================*/

#mogo-slider .mogo-slider-title{
    font-size: 110px;
    color: #fff;
}
#mogo-slider .mogo-slider-title .mogo-slider-sub {
    font-size: 55px;
}
.mogo-slider-title .mogo-slider-sub {
    display: block;
    text-transform: none;
    font-weight: 400;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    margin-bottom: 5px;
}
.mogo-slider-title{
    font-weight: 700;
    font-size: 25px;
    line-height: 1;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
    text-transform: uppercase;
}
.mogo-slider-sub {
    font-weight: 700;
    font-size: 25px;
    line-height: 1;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
}
.mogo-slider-title .mogo-slider-sub:after{
    background: #fff;
}
.mogo-slider-title:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 50px;
    height: 2px;
    background: #fff;
    transform: translateX(-50%);
}

.slider-btn{
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    text-align: center;
    border: 2px solid #fff;
    font-size: 12px;
    line-height: 100%;
}
a:focus, a.slider-btn:hover{
    background-color: #rgba(241, 114, 114, 0.96);
    color: #fff;
    text-decoration: none;
}




/*==========================middle section====================*/

.middle-section h2{
    font-weight: 700;
    font-size: 25px;
    line-height: 1;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
    text-transform: uppercase;
}

.middle-section h2 .middle-sub {
    display: block;
    text-transform: none;
    font-weight: 400;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    margin-bottom: 20px;
}

.middle-section p {
    text-align: center;
    max-width: 750px;
    margin: 0 auto 40px;
    font-size: 13px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;

}
h2 .middle-sub:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 50px;
    height: 2px;
    background: #f38181;
    transform: translateX(-50%);
}

section{
    padding: 95px 0;
}

/* ===============About Us with Hover Effect style=============== */
.story-hover {
    text-align: center;
}

.story-hover .story {
    background: #95e1d3;
    display: inline-block;
}
.story-hover .story .overlay {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.story-hover .story .overlay:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: rgba(243,129,129,0.9); /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(top, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
    background: -o-linear-gradient(top, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
    background: linear-gradient(to bottom, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.story-hover .story:hover .overlay {
    left: -10px;
    top: -10px;
}
.story-hover .story:hover .overlay:before {
    opacity: 1;
}
.story-hover .story-content {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    z-index: 1;
    opacity: 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.story-hover .story:hover .story-content {
    opacity: 1;
    font-size: 18px;
    font-weight: 500;
}


/*=========================counting section style=====================*/

#counting{
    padding: 0;
    background: #95e1d3;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}
.counter{
    float: left;
    display: inline-block;
}
.counter .number{
    font-size: 50px;
    font-weight: 600;
}
#counting .counter:first-child {
    border-left: 1px solid rgba(255, 255, 255, 0.35);
}
#counting .counter {
    width: 20%;
    padding: 60px 5px;
    border-right: 1px solid rgba(255, 255, 255, 0.35);
}